extends layout
block content
  script(src="/socket.io.js")
  .container
  .container
    .row
      .col-md-12
        .bs-example
          .panel.panel-default
            #chat-box.panel-body
              ul#chat-messages
                li TODO: Add usernames. Style based on user?
                li TODO: Add persistance (mongo)
    div.row
      div.col-md-12
        form(action="")
          .input-group
            input#m.form-control(type="text", name="message", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default Send!
  script.
      var socket = io();
      $("form").submit(function(){
        socket.emit('message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('message', function(msg){
        $('#chat-messages').append($('<li>').text(msg));
      });

