extends layout
block content
  script(src="/socket.io.js")
  .container
  .container
    .row
      .col-md-12
        .bs-example
          .row
            .col-sm-2.usernames
              h6 Current Users
              ul#usernames
                li Eric
                li Taylor
            .col-sm-10
              .panel.panel-default
                #chat-box.panel-body
                  ul#chat-messages
    div.row
      div.col-md-12
        form(action="")
          .input-group
            input#m.form-control(type="text", name="message", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default Send!
  script.
      var socket = io();
      $("form").submit(function(){
        socket.emit('new message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('new connection', function(messages){
        for (var i = messages.length-1; i >= 0; i--){
          console.log(messages[i]);
          $('#chat-messages').append($('<li>').text(messages[i].name +
            ": " + messages[i].message));
        }
      });
      socket.on('post message', function(messages){
        $('#chat-messages').empty();
        for (var i = messages.length-1; i >= 0; i--){
          console.log(messages[i]);
          $('#chat-messages').append($('<li>').text(messages[i].name +
            ": " + messages[i].message));
        }
      });
      socket.on('new user', function(){
        var username = prompt('What is your username?');
        socket.emit('new user', username);
      });

