extends layout
block content
  script(src="/socket.io.js")
  .container
  .container
    .row#new-user(style="display:block;") Login
      .col-mid-12
        form.nu(action="")
          .input-group
            input.nu.form-control(placeholder="Username", type="text", name="username", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default Sign In!
    .row
      .col-md-12
        .bs-example
          .row
            .col-sm-2.usernames
              h6 Current Users
              ul#usernames
                li Eric
                li Taylor
            .col-sm-10
              .panel.panel-default
                #chat-box.panel-body
                  ul#chat-messages
    div.row
      div.col-md-12
        form.message(action="")
          .input-group
            input#m.form-control(type="text", name="message", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default Send!
  script.
      var socket = io();
      $("form.message").submit(function(){
        socket.emit('new message', $('#m').val());
        $('#m').val('');
        return false; // Prevents page from reloading after form submission
      });
      $("form.nu").submit(function(){
        console.log("new user: " + $("input.nu").val());
        socket.emit('new user', $('input.nu').val());
        $("#new-user").hide();
        return false; // Prevents the page from reloading after form submission
      });
      socket.on('new connection', function(messages){
        for (var i = messages.length-1; i >= 0; i--){
          console.log(messages[i]);
          $('#chat-messages').append($('<li>').text(messages[i].name +
            ": " + messages[i].message));
        }
        $('#chat-box').scrollTop($('#chat-box').height());
      });
      socket.on('post message', function(messages){
        $('#chat-messages').empty();
        for (var i = messages.length-1; i >= 0; i--){
          $('#chat-messages').append($('<li>').text(messages[i].name +
            ": " + messages[i].message));
        }
        $('#chat-box').scrollTop($('#chat-box').height());
      });

