extends layout
block content
  script(src="/socket.io.js")
  .container
  .container
    .row
      .col-md-12
        .bs-example
          .panel.panel-default
            .panel-body.
              This is where the chat will show up.
    div.row
      div.col-md-12
        form(action="")
          .input-group
            input#m.form-control(type="text", name="message")
            span.input-group-btn
              button.btn.btn-default Send!
      div.col-md-12
        h2
          | Heading
        p
          | Donec id elit non mi porta gravida at eget metus. etc...
        p
          a.btn.btn-default(href="#", role="button")
            | View details
  script.
      var socket = io();
      $("form").submit(function(){
        socket.emit('message', $('#m').val());
        $('#m').val('');
        return false;
      });

