extends layout
block content
  div.container
    div.jumbotron
      h1 #{title}
      p
        | An online presence for my organized ways of going astray.
      div.social-links
        a.btn.btn-social-icon.btn-lg.btn-github(href="https://www.github.com/eihli")
          i.fa.fa-github
        a.btn.btn-social-icon.btn-lg.btn-linkedin(href="https://www.linkedin.com/pub/eric-ihli/19/224/a83")
          i.fa.fa-linkedin
  div.container
    div.row
      div.col-md-4
        h2
          | What is this?
        p
          | I needed a place to practice what I learn about JavaScript, jQuery, CSS, and the MEAN stack.
        p
          b. 
            This site is currently a scratch pad where I can test code, break things, and play around with web
            server management without breaking anything important or having a responsibility for 
            things to work.
      div.col-md-4
        h2
          | Why is this?
        p
          | It's fun, enjoyable, exciting, and rewarding.
          | I've decided to make a career change and begin work in a field
          | that I would spend my free time on.
        p 
          | Part of that career change process is learning. HackReactor is my current goal to accelerate
          | the process. They say they are a 20 to 120 course (as opposed to 0 to 60) and working on this 
          | site will hopefully get me to AT LEAST 20.
      div.col-md-4
        h2 About my projects
        p 
          | I read that as part of the HackReactor admissions, some of the challenges may include writing a: 
          ul
            li Chat app <a href="/chat">Chatter</a>
            li Twitter clone <a href="/twidder">Twidder</a>
            li Underscore.js inspired lirary <a href="/upperscore">Upperscore.js</a>
    
