extends layout
block content
  div.container
    div.container
      div.row
        div.col-md-4
          h2
            | Heading
          p
            | Donec id elit non mi porta gravida at eget metus. etc...
          p
            a.btn.btn-default(href="#", role="button")
              | View details
        div.col-md-4
          h2
            | Heading 2
          p
            | Donec id elit etc... once again...
          p 
            a.btn.btn-default(href="#", role="button") View details
        div.col-md-4
          h2 Heading 3
          p Donec id elite. Cras justo odio dapibus ac facilisi. Vestibulum id ligula
            | porta felis euismod semper. Fusce dapibus, tellus ac cursus commod, tortor
            | ut fermentum massa justo sit amet risus.
          p 
              a.btn.btn-default(href="#", role="button") View details
