extends layout
block content
  div.container
    div.container
      div.row
        div
          a.btn.btn-primary.btn-lg.btn-block(
          href="https://github.com/eihli/owoga/tree/master/upperscore", role="button")
            |View on Github
