body {
  padding-top: 65px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
}

body.home {
  padding-top: 0px;
}

h1 {
  font: 20px "Courier New";
}

p {
}

div.social-links {
  text-align: left;
}

div.social-links a{
  margin-right: 30px;
}

div.bs-example::after {
  color: #5753FF;
  content: "Chatter";
}

div.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}

div.usernames {
  padding-right: 0px;
}

ul#usernames {
  font-size: 12px;
}

ul#chat-messages, ul#usernames {
  list-style: none;
  padding-left: 0px;
}

#chat-box {
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}
